* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  font-size: 1.6rem;
}

.form-modal.hidden {
  opacity: 0;
  visibility: hidden;
}

.form.hidden {
  transform: translateY(-100%);
  visibility: hidden;
  opacity: 0;
}

.form-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2078431373);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 1;
}
.form-modal .over-lay {
  position: fixed;
  inset: 0;
  background: transparent;
  z-index: 1;
}
.form-modal .form {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 3px 2px 2px;
  min-width: 400px;
  transition: 0.5s ease;
  z-index: 2;
}
.form-modal .form .close-modal {
  float: right;
  color: orangered;
  font-size: 3rem;
  margin: -10px -10px 0 0;
  cursor: pointer;
}
.form-modal .form .close-modal::after {
  content: "";
  clear: both;
}
.form-modal .form .close-modal:hover {
  opacity: 0.8;
}
.form-modal .form .form-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 26px;
}
.form-modal .form .form-item .form-label {
  width: 30%;
}
.form-modal .form .form-item .form-control:not(textarea,
input[type=radio],
input[type=checkbox]) {
  width: 70%;
  height: 30px;
}
.form-modal .form .button {
  color: #fff;
  background: green;
  padding: 10px 20px;
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
}
.form-modal .form .button:hover {
  opacity: 0.8;
}

.app-container {
  width: 1100px;
  max-width: calc(100vw - 20px);
  margin: 0 auto;
}
.app-container .form-table {
  margin-top: 20px;
}
.app-container .form-table__heading {
  font-size: 36px;
  font-weight: bold;
}
.app-container .form-table__search {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-container .form-table__search .form-item {
  position: relative;
  z-index: 0;
}
.app-container .form-table__search .form-item .form-search {
  padding: 5px 10px;
  width: 300px;
}
.app-container .form-table__search .form-item .form-submit {
  position: absolute;
  right: 0;
  transform: translateX(100%);
  cursor: pointer;
  color: #fff;
  padding: 7px 10px;
  background: rgb(0, 89, 255);
  border: transparent;
  border-radius: 2px;
  transition: 0.3s ease;
}
.app-container .form-table__search .form-item .form-submit:hover {
  transform: translateX(90%) scale(1.1);
}
.app-container .form-table__search .form-item i {
  cursor: pointer;
  font-size: 30px;
  color: green;
  transition: 0.3s ease;
}
.app-container .form-table__search .form-item i:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
.app-container .form-table .table-list {
  width: 100%;
  border: 2px double #ccc;
}
.app-container .form-table .table-list thead {
  height: 40px;
  background: rgb(101, 201, 168);
  color: #fff;
}
.app-container .form-table .table-list thead th {
  font-weight: 600;
  padding: 12px 6px 12px 12px;
  border: 2px double #ccc;
}
.app-container .form-table .table-list tbody tr td {
  padding: 12px;
  border-left: 1px dotted #fff;
}
.app-container .form-table .table-list tbody tr td .btn-edit {
  font-size: 20px;
  cursor: pointer;
  color: rgb(61, 61, 240);
  background: transparent;
  transition: 0.3s ease;
  margin-right: 5px;
  border: transparent;
}
.app-container .form-table .table-list tbody tr td .btn-edit:hover {
  transform: scale(1.4);
  opacity: 0.8;
}
.app-container .form-table .table-list tbody tr td .btn-delete {
  font-size: 20px;
  cursor: pointer;
  color: orangered;
  background: transparent;
  transition: 0.3s ease;
  border: transparent;
}
.app-container .form-table .table-list tbody tr td .btn-delete:hover {
  transform: scale(1.4);
  opacity: 0.8;
}
.app-container .form-table .table-list tbody tr:nth-child(2n-1) {
  background: #ccc;
}
.app-container .form-table .table-list tbody tr:nth-child(2n) {
  background: gray;
}

.modal-delete {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: 0.3s ease;
}
.modal-delete .modal-content {
  margin: 50vh;
  min-width: 250px;
  padding: 20px 40px;
  background: #fff;
  border-radius: 5px;
}
.modal-delete .modal-content__close {
  float: right;
  margin: -12px -30px 0 0;
  cursor: pointer;
  font-size: 24px;
  color: orangered;
  transition: 0.3s ease;
}
.modal-delete .modal-content__close:hover {
  transform: scale(1.3);
  opacity: 0.8;
}
.modal-delete .modal-content__delete {
  margin-top: 10px;
  color: rgb(254, 67, 67);
}
.modal-delete .modal-content__control {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.modal-delete .modal-content__control .btn {
  padding: 8px 26px;
  border: transparent;
  transition: 0.3s ease;
  color: #fff;
  border-radius: 5px;
}
.modal-delete .modal-content__control .btn:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
.modal-delete .modal-content__control .btn-yes {
  background: green;
}
.modal-delete .modal-content__control .btn-no {
  background: orangered;
}

.modal-delete.hidden {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.4);
}/*# sourceMappingURL=styles.css.map */